<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haohaodayouxi.auth2.mapper.DemoIdMapper">
    <resultMap id="BaseResultMap" type="com.haohaodayouxi.auth2.model.db.DemoId">
        <!--@mbg.generated-->
        <!--@Table demo_id-->
        <id column="id" jdbcType="BIGINT" property="id"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id
    </sql>
</mapper>
