<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haohaodayouxi.demo.mapper.DemoIdMapper">
    <resultMap id="BaseResultMap" type="com.haohaodayouxi.demo.model.db.DemoId">
        <!--@mbg.generated-->
        <!--@Table demo_id-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="t" jdbcType="VARCHAR" property="t"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,t
    </sql>

    <select id="getDemoIdList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from demo_id
    </select>
</mapper>
