/** 自定义 Element Plus 样式 */

// 卡片
.el-card {
  background-color: var(--el-bg-color);
}

// 分页
.el-pagination {
  // 参考 Bootstrap 的响应式设计 WIDTH = 768
  @media screen and (max-width: 768px) {
    .el-pagination__total,
    .el-pagination__sizes,
    .el-pagination__jump,
    .btn-prev,
    .btn-next {
      display: none !important;
    }
  }
}

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}


// to fixed https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

// refine element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

// dropdown
.el-dropdown-menu {
  a {
    display: block
  }
}

// to fix el-date-picker css style
.el-range-separator {
  box-sizing: content-box;
}


.cell .el-button--text.el-button {
  padding-top: 0;
  padding-bottom: 0;
  //font-size: 14px;
}

.el-cascader-panel {
  max-height: 350px;
}
.el-table-column--selection .cell {
  padding-right: 10px;
}
.el-cascader-menu .el-radio {
  display: table;
  vertical-align: middle;
  // width: 90%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  margin-left: -20px;
  padding-left: 10px;
}
.el-cascader-menu .el-radio .el-radio__input {
  display: table-cell;
  vertical-align: middle;
}
