@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./mixin.scss";
@import "./variables.scss";
@import './public.scss';

html {
  height: 100%;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: PingFang SC,Microsoft YaHei, Arial, Helvetica Neue, Helvetica, Hiragino Sans GB, sans-serif;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

label {
  font-weight: 400;
}

textarea {
  outline: none;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active,
button:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

ul, li, ol {
  list-style: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
