.fc-theme {
  color: $fcmain;
}

.fc-red {
  color: red;
}

.fc-000 {
  color: #000;
}

.fc-222 {
  color: #222;
}

.fc-333 {
  color: #333;
}

.color327 {
  color: #327DFF;
}

.fc-555 {
  color: #555;
}

.fc-666 {
  color: #666;
}

.fc-888 {
  color: #888;
}

.fc-999 {
  color: #999;
}

.fc-aaa {
  color: #aaa;
}

.fc-9797 {
  color: #979797;
}

.fc-ed7 {
  color: #ED7B2F;
}

.fc-00a {
  color: #00A870;
}

.fc-f01 {
  color: #F01F1F;
}

.fc-blue {
  color: #409eff;
}

.color287 {
  color: #2874F9;
}

.colorff2 {
  color: #FF2525;
}

.fc-up {
  color: #d0402d !important;
}

.fc-down {
  color: #14af3e !important;
}

.bgc-theme {
  background: $fcmain;
}

.bgc-danger {
  background: #f56c6c;
}

.bgc-fff {
  background: #fff;
}

.bgc-FF2727 {
  background-color: #FF2727;
}

.fc-fff {
  color: #fff;
}

.fc-c0c4cc {
  color: #c0c4cc;
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-26 {
  font-size: 26px;
}

.fs-28 {
  font-size: 28px;
}

.fs-32 {
  font-size: 32px;
}

.fs-36 {
  font-size: 36px;
}

.fs-40 {
  font-size: 40px;
}

.fs-44 {
  font-size: 44px;
}

.fs-68 {
  font-size: 68px;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.fw-bold {
  font-weight: bold;
}

.fw-bolder {
  font-weight: bolder;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.m0a {
  margin: 0 auto;
}

.marginL-0 {
  margin-left: 0;
}

.marginL-2 {
  margin-left: 2px;
}

.marginL-4 {
  margin-left: 4px;
}

.marginL-5 {
  margin-left: 5px;
}

.marginL-6 {
  margin-left: 6px;
}

.marginL-8 {
  margin-left: 8px;
}

.marginL-10 {
  margin-left: 10px;
}

.marginL-12 {
  margin-left: 12px;
}

.marginL-14 {
  margin-left: 14px;
}

.marginL-16 {
  margin-left: 16px;
}

.marginL-18 {
  margin-left: 18px;
}

.marginL-20 {
  margin-left: 20px;
}

.marginL-22 {
  margin-left: 22px;
}

.marginL-24 {
  margin-left: 24px;
}

.marginL-26 {
  margin-left: 26px;
}

.marginL-28 {
  margin-left: 28px;
}

.marginL-30 {
  margin-left: 30px;
}

.marginR-0 {
  margin-right: 0;
}

.marginR-2 {
  margin-right: 2px;
}

.marginR-4 {
  margin-right: 4px;
}

.marginR-6 {
  margin-right: 6px;
}

.marginR-8 {
  margin-right: 8px;
}

.marginR-9 {
  margin-right: 9px;
}

.marginR-10 {
  margin-right: 10px;
}

.marginR-12 {
  margin-right: 12px;
}

.marginR-14 {
  margin-right: 14px;
}

.marginR-16 {
  margin-right: 16px;
}

.marginR-18 {
  margin-right: 18px;
}

.marginR-20 {
  margin-right: 20px;
}

.marginR-22 {
  margin-right: 22px;
}

.marginR-24 {
  margin-right: 24px;
}

.marginR-26 {
  margin-right: 26px;
}

.marginR-28 {
  margin-right: 28px;
}

.marginR-30 {
  margin-right: 30px;
}

.marginT-0 {
  margin-top: 0;
}

.marginT-2 {
  margin-top: 2px;
}

.marginT-4 {
  margin-top: 4px;
}

.marginT-5 {
  margin-top: 5px;
}

.marginT-6 {
  margin-top: 6px;
}

.marginT-8 {
  margin-top: 8px;
}

.marginT-10 {
  margin-top: 10px;
}

.marginT-12 {
  margin-top: 12px;
}

.marginT-14 {
  margin-top: 14px;
}

.marginT-16 {
  margin-top: 16px;
}

.marginT-18 {
  margin-top: 18px;
}

.marginT-20 {
  margin-top: 20px;
}

.marginT-22 {
  margin-top: 22px;
}

.marginT-24 {
  margin-top: 24px;
}

.marginT-50 {
  margin-top: 50px;
}

.marginT-94 {
  margin-top: 94px;
}

.marginB-0 {
  margin-bottom: 0;
}

.marginB-2 {
  margin-bottom: 2px;
}

.marginB-4 {
  margin-bottom: 4px;
}

.marginB-6 {
  margin-bottom: 6px;
}

.marginB-8 {
  margin-bottom: 8px;
}

.marginB-10 {
  margin-bottom: 10px;
}

.marginB-12 {
  margin-bottom: 12px;
}

.marginB-14 {
  margin-bottom: 14px;
}

.marginB-16 {
  margin-bottom: 16px;
}

.marginB-17 {
  margin-bottom: 17px;
}

.marginB-18 {
  margin-bottom: 18px;
}

.marginB-20 {
  margin-bottom: 20px;
}

.marginB-22 {
  margin-bottom: 22px;
}

.marginB-24 {
  margin-bottom: 24px;
}

.marginB-26 {
  margin-bottom: 26px;
}

.marginB-28 {
  margin-bottom: 28px;
}

.marginB-30 {
  margin-bottom: 30px;
}

.marginB-50 {
  margin-bottom: 50px;
}

.marginB-100 {
  margin-bottom: 100px;
}

.paddingT-20 {
  padding-top: 20px;
}

.padding-5 {
  padding: 5px;
}

.padding-10 {
  padding: 10px;
}

.padding-20 {
  padding: 20px;
}

.padding-0-10-10 {
  padding: 0 10px 10px;
}

.padding-20-32 {
  padding: 20px 32px;
}

.padding-32-20 {
  padding: 32px 20px;
}

.paddingL-6 {
  padding-left: 6px;
}

.paddingL-20 {
  padding-left: 20px;
}

.paddingL-35 {
  padding-left: 35px;
}

.paddingL-50 {
  padding-left: 50px;
}

.paddingR-6 {
  padding-right: 6px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.flex {
  display: flex;
  display: -webkit-flex;
}

.flex-between {
  justify-content: space-between;
}

.flex-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-1 {
  flex: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.width-100 {
  width: 100%;
}

.width-90p {
  width: 90px;
}

.inline-block {
  display: inline-block;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.lineHeight-40 {
  line-height: 40px;
}

.pointer {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.txt-ellipsis {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.w11em {
  width: 11em;
}

.w16em {
  width: 16em;
}

.w17em {
  width: 17em !important;
}

.w18em {
  width: 18em !important;
}

.inline-top {
  position: relative;
  top: -1px;
}

.noborder {
  border: none !important;
}

.cust-btn {
  padding: 8px 10px;
}

.content-view {
  padding: 20px;
}

.point {
  cursor: pointer;
}

.no-outline {
  outline: none;
}

.confirmbtn {
  color: #FFFFFF;
  background-color: #2975F9 !important;
  border-color: #2975F9 !important;
}

.top-tip {
  padding: 20px 0 6px;
  border-bottom: 1px solid #ddd;

  i {
    color: #ff5920;
  }
}

.el-tooltip__popper {
  max-width: 40%
}

.jw-el-tooltip-tag-view.el-tooltip__popper.is-light {
  border: 1px solid #9a9b9e;
  color: #2F2F2F;
  background-color: #f6f6f6;
  border-radius: 4px;
  padding: 6px;
  font-size: 12px;
}

.el-icon-d-arrow-left {
  &-bottom {
    transform: rotate(-90deg);
  }

  &-top {
    transform: rotate(90deg);
  }
}

.btn-info {
  .el-button {
    height: 32px !important;
    padding: 8px 19px;
    box-sizing: border-box;
  }
}

.area-choose {
  width: 100%;

  .el-scrollbar__wrap {
    overflow-x: hidden !important;
    height: 100% !important;
    padding-bottom: 6px !important;
    margin-bottom: 0 !important;
  }
}

.base-el-drawer {
  .el-drawer__header {
    padding: 0 10px;
    margin-bottom: 22px;
    background: #F1F4F9;

    span {
      line-height: 32px;
      font-size: 12px;

      &:focus {
        outline: none;
      }
    }

    .el-drawer__close-btn {
      font-size: 12px;
    }
  }

  .el-drawer__body {
    height: calc(100% - 54px);

    .base-scrollbar {
      height: calc(100% - 64px);
    }
  }
}

.base-scrollbar {
  width: 100%;
  box-sizing: border-box;

  .el-scrollbar__wrap {
    overflow-x: hidden !important;
    margin-bottom: 0 !important;
    height: 100% !important;
  }

  .el-tree-node__content {
    display: flex;
    align-items: center;
    height: 32px;
    cursor: pointer;
  }
}

.base-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  border-top: 1px solid #eee;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.box-card {
  padding: 12px 8px 0 !important;

  .el-card__body {
    padding: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

// 内容主体
.container {
  padding: 0 10px;
  box-sizing: border-box;
}

// 搜索容器
.search-box {
  padding: 14px 21px 0;
  margin-bottom: 8px;
  background: #FFFFFF;
  box-shadow: 0 1px 1px 0 rgba(94, 113, 129, 0.1);
  border-radius: 3px;
  border: 1px solid rgba(94, 113, 129, 0.1);

  .el {
    &-card__body {
      padding: 0;
    }

    &-form-item {
      margin-bottom: 14px;
    }
  }
}

// 表格容器
.table-box {
  padding: 12px 8px 0;

  .el-card__body {
    padding: 0;
  }
}

// 操作容器
.tool-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

// 分页器容器
.pagination-box {
  padding: 10px 16px;
  text-align: right;
  background: #fff;
}

.tool-tip {
  max-width: 300px;
}

.base-tip {
  width: 100%;
  cursor: pointer;
  color: #606266 !important;
  position: relative;

  &::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.hover-focus-cancel {
  &:hover,
  &:focus {
    color: inherit !important;
    background-color: inherit !important;
  }
}

.is-required-hidden {
  .el-form-item__label {
    &::before {
      display: none;
    }
  }
}

.base-popover {
  position: absolute;
  top: 190px;
  left: 1558px;
  z-index: 2016;
  background: #FFFFFF;
  min-width: 150px;
  border-radius: 4px;
  border: 1px solid #EBEEF5;
  padding: 0;
  color: #606266;
  line-height: 1.4;
  text-align: justify;
  font-size: 14px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  word-break: break-all;
  transform-origin: right center;
}

.base-dw-right {
  margin-right: 10px !important;
}

.base-dialog {
  box-sizing: border-box;

  .el-dialog__header {
    height: 44px;
    padding: 10px 0 0 20px;
    background: #F1F4F9;
    font-size: 16px;
    color: #2F2F2F;
  }

  .el-dialog__headerbtn {
    top: 13px;
  }
}

// 性别样式
.sex-font {
  width: 26px;
  height: 21px;
  font-size: 12px;
  margin: auto;
  border-radius: 4px;

  &-1 {
    background: #FF9D0B;
    color: #FFFFFF;
  }

  &-2 {
    background: #3485FF;
    color: #FFFFFF;
  }

  &-3 {
    background: #EDEDED;
    color: #7E828B;
  }
}


.list-style-none {
  list-style: none;
}

.jw-org-search {
  &.el-autocomplete-suggestion li:hover {
    background-color: transparent;
  }
}

.rank-page {
  .el-scrollbar__wrap {
    overflow-x: hidden !important;
  }
}

// fix css style bug in open el-dialog
.el-popup-parent--hidden {
  .fixed-header {
    //padding-right: 15px;
  }
}

//reset element css of el-icon-close
.tags-view-wrapper {
  .tags-view-item {
    display: flex;
    justify-content: space-between;

    .el-icon-close {
      width: 16px;
      height: 16px;
      line-height: 16px;
      margin-left: 10px;
      border-radius: 50%;
      text-align: center;
      transition: all .3s cubic-bezier(.645, .045, .355, 1);
      transform-origin: 100% 50%;

      &:before {
        transform: scale(.6);
        display: inline-block;
      }

      &:hover {
        background-color: #b4bccc;
        color: #fff;
      }
    }
  }
}

.jw-messageCenter-messageManagement-message {
  .el-scrollbar__wrap {
    overflow-x: hidden !important;
  }

  .el-card__body {
    padding: 15px 16px 0 16px;
    width: 100%;

    .el-table {
      .el-table__header {
        width: 100%;
      }
    }

    .el-tabs {
      .el-tabs__header {
        margin: 2px;
      }
    }
  }

  .el-table tr {
    background-color: #fbfcfd;
  }

  .el-table__body tr.current-row > td {
    background: #EFF4F9;
  }

  .el-tabs {
    // box-shadow: 0px 1px 2px 0px rgba(94,113,129,0.102);
    .el-tabs__header {
      .el-tabs__active-bar {
        width: 82px;
        height: 3px;
        background: #2875F9;
      }

      .el-tabs__item {
        width: 82px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 4px;
        padding: 0px;
        font-size: 16px;
        font-family: 'PingFang SC-Bold, PingFang SC';
      }

      .el-tabs__nav-wrap {
        box-shadow: 0px 1px 2px 0px rgba(94, 113, 129, 0.102);
      }

      .el-tabs__nav-wrap::after {
        height: 0px;
      }
    }
  }
}

.handle-box {
  .el-scrollbar__wrap {
    overflow-x: hidden;
  }
}

.tooltip-gray-border.el-tooltip__popper.is-light {
  border: 1px solid #dde5ec;
}

.tooltip-gray-border.el-tooltip__popper[x-placement^=top] .popper__arrow {
  border-top-color: #dde5ec !important;
}

.monthStyle {
  .el-date-picker__header--bordered {
    display: none !important;
  }
}

.monthDateStyle {
  .el-date-picker__header {
    span:nth-child(3) { /*第三个标签是span的标签，把它隐藏*/
      display: none;
    }

    button:nth-child(1) {
      display: none;
    }

    button:nth-child(5) {
      display: none;
    }
  }
}
.is-required {
  .el-form-item__label:before {
    content: '*';
    color: #F56C6C;
    margin-right: 4px;
  }
}

/* 开始 因引入tailwindcss 样式被污染而重置的写到这里 */
@media screen {
  .container {
    max-width: 100%;
  }
}

.el-loading-mask {
  .el-loading-spinner {
    svg {
      margin: 0 auto;
    }
  }
}

/* 结束 */

/* 开始 @tinymce/tinymce-vue 样式重置 */
.tox.tox-silver-sink.tox-tinymce-aux {
  z-index: 2200 !important;
}
/* 结束 */
