// sidebar
$menuText: #7E828B;
$menuActiveText: #FFFFFF;
$subMenuActiveText: #474D53; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #FFFFFF;
$menuHover: #EFF4F9;

$subMenuBg: #FFFFFF;
$subMenuHover: #EFF4F9;

$sideBarWidth: 228px;
$topBarHeight: 68px;
$topBarMenuHover: transparent;
$contentHeight: calc(100vh - #{$topBarHeight});

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}

$fcmain: #2975F9;
$bgmain: $fcmain;
$mainContainerBg: #F1F4F9;
$danger: #FF4545;
/* 143 = top-nav + tag-view + navbar 68 + 38 + 37  */
$paddingT: 143px;
